<!-- Давайте теперь используем наш роутер, чтобы создать несколько страниц.
    Для этого создадим основной шаблон приложения (app.html) и partials для шапки (navbar.html)
    и подвала (footer.html).
    Для этого просто скопируем туда готовую разметку из спецификации RealWorld и добавим немного динамики
    Требуется регистрация в app.js -->
{{>navbar}}
<!-- shared позволяет передавать объекты между компонентами и шаблонами, в данном случае передает route-->
{{#with
@shared.$route.pathname as pathname,
{delay: 500} as fadeIn,
{delay: 200} as fadeOut
}}

<div id="page">
    {{#if pathname.match('/login')}}
    <div fade-in="fadeIn">
        <div class="auth-page" fade-in="fadeIn" fade-out="fadeOut">
            <strong>Login</strong>. {{message}}
        </div>
    </div>
    {{elseif pathname.match('/register')}}
    <div class="auth-page" fade-in="fadeIn" fade-out="fadeOut">
        Register page
    </div>
    {{elseif pathname.match('/profile/:username/:section?') }}
    <div class="profile-page" fade-in="fadeIn" fade-out="fadeOut">
        Profile page
    </div>
    {{elseif pathname.match('/')}}
    <div class="home-page" fade-in="fadeIn" fade-out="fadeOut">
        {{>homepage}}
    </div>
    {{else}}
    <div class="notfound-page" fade-in="fadeIn" fade-out="fadeOut">
        {{>notfound}}
    </div>
    {{/if}}
</div>
{{/with}}
{{>footer}}
