<nav class="navbar navbar-light">
    <!--Давайте теперь используем наш роутер, чтобы создать несколько страниц.
        Для этого создадим основной шаблон приложения (app.html) и partials для шапки (navbar.html)
        и подвала (footer.html).
        Для этого просто скопируем туда готовую разметку из спецификации RealWorld и добавим немного динамики
        Требуется регистрация в app.js -->
    <div class="container">
        {{#with @shared.$route.pathname as pathname}}
        <a class="navbar-brand" href="/">Navbar. Made by Server-side render</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a href="/" class-active="pathname  === '/'" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/login" class-active="pathname  === '/login'" class="nav-link">
                    Sign in
                </a>
            </li>
            <li class="nav-item">
                <a href="/register" class-active="pathname === '/register'" class="nav-link">
                    Sign up
                </a>
            </li>
        </ul>
        {{/with}}
    </div>
</nav>
